# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Admin\Desktop\S\WEB\Module 4\code\Spring_1_SpringMvc_overview\quanlikhachhang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
